### Mac ###
.DS_Store

### Xcode ###
## User settings
xcuserdata/
*.xcworkspace/xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

GoogleService-Info.plist